<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../vue.js"></script>
    </head>
    <body>
        <div id="App">
            <input type="text" v-model="itemVal">
            <button @click="addItem">添加</button>
            <ul>
                <!-- 父组件通过v-bind向子组件传值  监听子组件传递过来的delete事件,触发父组件的bbb事件 -->
                <todo-item  v-for="(item, index) in itemList" 
                    v-bind:content="item"  
                    v-bind:index="index"
                    @delete="bbb">
                </todo-item>
            </ul>
        </div>
       
        <script>
            //定义子组建
            var TodoItem = {  
                props: ['content', 'index'],//子组建 接收 父组件传递过来的数据
                template: "<li @click='aaa' >{{content}}</li>",//组建的模板,<todo-item>标签将会被该模板替换
                methods: {
                    aaa: function(){
                        this.$emit('delete', this.index);//子组件向外触发一个事件delete, 然后将this.index的值传过去
                    }
                }
            }

            var app = new Vue({
                el: '#App',//注意这里是el; 不是ele
                components:{
                    TodoItem: TodoItem,//将TodoItem注册到vue实例中
                },
                data:{
                    itemVal:'',
                    itemList:[]
                },
                methods: {
                    addItem: function(){
                        if(this.itemVal==''){
                            alert('请输入');
                            return;
                        }
                        this.itemList.push( this.itemVal );
                        this.itemVal=''
                    },
                    bbb: function(index){
                        //子组件传递 过来的index
                        this.itemList.splice(index, 1);
                        console.log(1);
                    }
                }
            })
        </script>
    </body>
</html>