<style>
   .exchangeFooter-cio{width:100%; padding: 20px 0 20px 0; margin:0 auto ;text-align: center; background: #efefef; font-size: 14px; color: #999;}
   .exchangeFooterLink-cio{height: 35px; line-height: 35px; display: inline-block; overflow: hidden; margin-bottom: 15px;}
   .exchangeFooterLink-cio ul{padding: 0; margin: 0;}
   .exchangeFooterLink-cio ul li{float: left; list-style-type: none; display: inline-block;}
   .exchangeFooterLink-cio ul li a{color: #666; text-decoration: none}
   .exchangeFooterLink-cio ul li a:hover{color: #009140;}
   .exchangeFooterLink-cio ul li span{font-size: 12px; margin:0 15px; color: #ccc; font-weight: 300;}
   .exchangeFooterCopy-cio{line-height: 25px;}
   .exchangeFooterCopy-cio a{color: #999; text-decoration: none}
</style>

<div class="exchangeFooter-cio">
   <div class="exchangeFooterLink-cio">
      <ul>
         <li><a href="http://www.gjpc.cn" target="_blank">国健医药咨询官网</a><span>|</span></li>
         <li><a href="http://www.yaoshiduo.com" target="_blank">药师多医药人才网</a><span>|</span></li>
         <li><a href="http://www.yaoqiduo.com" target="_blank">药企多医药并购网</a><span>|</span></li>
         <li><a href="http://www.gdcio.org.cn" target="_blank">广东省医药合规促进会</a><span>|</span></li>
         <li><a href="http://www.sda.gov.cn/WS01/CL0001" target="_blank">国家食品药品监督管理总局</a></li>
      </ul>
   </div>
   <div class="exchangeFooterCopy-cio">
      ©2017 ciopharma.com 广东国健医药咨询服务有限公司 版权所有 粤ICP备11100335号-8<br>
      《中华人民共和国增值电信业务经营许可证》粤B2-20130599<br>
      公司地址：广州市东风东路774号广东外贸大厦B座201-205<br>
   </div>
</div>
