<style>
    .temp-footer {
        position: relative;
        width: 100%;
        /* height: 235px;   */
        background-color: #efefef;
        z-index: 101;
    }
    /* .home {
         margin-bottom: 20px; 
    }
    .temp-footer > .footer-content {
        position: relative;
        top: 25px; 
        margin: 0 auto;
        width: 900px; 
        font-size: 14px;
    }
    .temp-footer > .footer-content > ul {
        margin: 0 auto;
    }
    .temp-footer > .footer-content > ul > li {
        text-align: center;
        list-style: none;
        color: #979797;
    }
    .temp-footer > .footer-content > ul > li > a {
        text-decoration: none; 
        margin: 10px 12px;
        color: #979797;
    } */

</style>

 <div class="temp-footer" id="temp-footer"> 
    <!-- <div class="footer-content"> -->
          <!--<iframe src="http://www.ciopharma.com/Application/Pc/View/Include/ExchangeFooter.html" height="231" width="100%" frameborder="0"></iframe>  -->
        {% include './about.html'%}
        <!-- <ul>
            <li class="home">友情链接：<a href="">cio在线</a> | <a href="">国健医药咨询官方首页</a> | <a href="">医师多医药人才网</a> | <a href="">药企多医药并购网</a> | <a href="">国家食品药品监督管理总局</a></li>
            <li>所有版权归广东国健医药咨询服务有限公司所有，未经授权，严禁非法复制或镜像</li>
            <li>公司地址：广州市东风东路774号广东外贸大厦B座201-205</li>
            <li>粤ICP备11100335号-7</li>
            <li>互联网药品信息服务资格证</li> 
        </ul> -->
    <!-- </div> -->
 </div> 