<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/email.css">
    </head>
    <body>
        <div class="body-div">
            <div class="img-header">
                <img src="{{STATIC_URL}}images/emailheader.jpg">
            </div>
            <div class="main-div">
                <p class="title-p">亲爱的用户:</p>
                <p class="main-p">杭州神中科技管理有限公司，通过药品流通资料交换和管理平台向你发起了一份首营交换《叶酸产品首营》，需要您的签章。</p>
                <a href="#"><button>签署首营</button></a>
                <p class="main-p">或复制以下链接在浏览器中打开：</p>
                <p class="main-p" id="address-id">http://sy.tianzhus.com</p>
            </div>
            <div class="img-email">
                <img src="{{STATIC_URL}}images/email.jpg">
            </div>
            <div class="footer-div">
                <p>
                    <span class="footer-span">平台网址:http://sy.tianzhus.com</span>
                    <span>客服电话:15658006815</span>
                </p>
                <p>
                    <span class="footer-span">邮箱:xinba@tianzhus.com</span>
                    <span>QQ:290023078</span>
                </p>
            </div>
        </div>
    </body>
</html>
