<style>
    body{
      font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB","helvetica neue",helvetica,arial,Sans-serif,"Hiragino Sans GB","Hiragino Sans GB W3","SimHei";
      background-color: #EBEFF2;
      position: relative;
      font-size: 14px;
    }
    html,body,section,h1,p,input,label,textarea,span,ul,li,dl,dt,dd,button,h2,h3,h4,h5,h6{
      margin:0;  padding:0;
    }
    h2{font-weight: normal;}
    button,textarea{
      outline:0px none;
      border:0 none;
      background: transparent;
    }
    input[type="button"], button {
      outline: none;
      cursor: pointer;
    }
    ul li{
      list-style: none;
    }
    .temp-page-wrap {
       position: relative;
       margin-top: 60px;
       margin-left: 220px;
       margin-bottom: -3000px;
       padding-bottom: 3000px;
    }
    .temp-page-wrap .temp-page-content {
       margin-bottom: 100px;
    }
    /*service css*/
    .service-style{
      position: fixed;
      z-index: 1200000;
      padding: 10px 0;
      top: 35%;
      right: 0;
      width: 40px;
      border-radius: 5px 0 0 5px;
      text-align: center;
      color: #Fff;
      background-color: #88bbd4;
      box-shadow: 0 0 5px #6d8b9a;
    }
    .service-style img{
      border-bottom: 1px solid #f4f4f4;
      margin-bottom: 3px;
      padding-bottom: 10px;
    }
    .service-info{
      position: fixed;
      z-index: 1100000;
      top: 35%;
      right: 40px;
      width: 110px;
      padding: 15px;
      border: 1px solid #dbe2e6;
      background-color: #f7f7f7;
      border-radius: 5px;
      box-shadow: 0 0 5px #c8d0d4;
      line-height: 28px;
      display: none;
      box-sizing:content-box;
      -moz-box-sizing:content-box; /* Firefox */
      -webkit-box-sizing:content-box; /* Safari */

    }
    .service-info p{
      color: #000;
    }
    .service-info p.orange{
      padding-bottom: 10px;
      margin-bottom: 10px;
      color: red;
      border-bottom: 1px dashed #ccc;
    }
    .service-info img{
      margin-top: 5px;
    }
    </style>